:root {
  --aj-theme-color: #0057fc;
  --aj-theme-color-2: #ffe815;
  --aj-theme-color-3: #fedc76;
  --aj-theme-color-4: #fff3d7;
  --aj-theme-orange: #ff5b15;
  --aj-theme-orange-2: #ff3838;
  --aj-heading-color: #0a0e1a;
  --aj-black-common: #0a0e1a;
  --aj-body-color: #57595c;
  --aj-theme-nblue: #001c52;
  --aj-common-black: #0a0e19;
  --aj-cream: #fbf6ef;
  --aj-cream-2: #fdf6f2;
  --aj-black: black;
  --aj-white: white;
  --aj-spring-color: #fbf6ef;
  --aj-grey-color: #f6f6f6;
  --aj-grey-color-2: #f6f6f6;
  --aj-grey-color-3: #f6f6f6;
  --aj-grey-color-4: #f6f6f6;
}
