@use '../utils' as *;

.aj-section {
  &-title {
    color: var(--aj-heading-color);
    @include aj-font-member(60px);
    &-5 {
      @include aj-font-member(40px);
      font-weight: bold;
    }
    &-xs {
      @include aj-font-member(100px);
      @media #{$xl} {
        font-size: 90px;
      }
      @media #{$xl,$lg,$md} {
        text-align: start;
        padding-left: 30px;
      }
      @media #{$xs} {
        font-size: 60px;
      }
    }
    @media #{$lg} {
      font-size: 50px;
    }
    @media #{$md,$xs} {
      font-size: 39px;
    }
    & br {
      @media #{$xs} {
        display: none;
      }
    }
    &-wrapper {
      & p {
        & br {
          @media #{$xs} {
            display: none;
          }
        }
      }
    }
    &-subtitle {
      color: var(--aj-body-color);
      @include aj-font-member(15px);
      font-family: var(--aj-font-body);
      font-weight: 500;
      & span {
        height: 10px;
        width: 10px;
        background: var(--aj-theme-color);
        display: inline-block;
        border-radius: 5px;
      }
      &-3 {
        & span {
          background: var(--aj-theme-orange);
        }
      }
    }
    &-5 {
      @media #{$lg,$md,$xs} {
        & br {
          display: none !important;
        }
      }
      @media #{$xs} {
        font-size: 20px;
      }
    }
  }
}
