@use '../../utils' as *;

.aj-blog {
  &-items {
    @media #{$xs} {
      margin-bottom: 30px;
    }
    &-2 {
      border: 1px solid var(--aj-body-color);
      border-radius: 10px;
      position: relative;
    }
  }
  &-thumb {
    & img {
      border-radius: 20px;
    }
    &-2 {
      width: 200px;
      height: 100%;
      flex: 0 0 auto;
      transform: translateY(-12px);
      position: absolute;
      top: 0;
      left: 0;
      & img {
        height: calc(100% + 24px);
        border-radius: 10px;
        margin-left: -1px;
        border-radius: 20px;
      }
    }
  }
  &-content {
    &-2 {
      padding: 15px 0 15px 210px;
    }
  }
  &-title {
    & .blog-s {
      width: 2px;
      height: 16px;
      background-color: var(--aj-body-color);
      display: inline-block;
      margin: 0 10px;
    }
  }
  &-desc {
    color: var(--aj-heading-color);
    @include aj-font-member(30px);
  }
  &-btn {
    a {
      color: var(--aj-body-color);
      @include aj-font-member(30px);
      transition: 0.3s;
      i {
        transform: rotate(-45deg);
        margin-left: 10px;
      }
      &:hover {
        color: var(--aj-heading-color);
      }
    }
    &-2 {
      & a {
        @include aj-font-member(18px);
      }
    }
  }
}

.py-130 {
  @media #{$xs} {
    padding-top: 85px;
    padding-bottom: 85px;
  }
}
