@use '../../utils' as *;

.aj-contact {
  &-form {
    &-title {
      color: var(--aj-heading-color);
      @include aj-font-member(30px);
    }
  }
  &-img {
    & img {
      max-width: inherit;
      margin-left: -50px;
    }
  }
}
.pl-50 {
  @media #{$xs} {
    padding: 20px;
  }
}
