@use '../../utils' as *;

.aj-contact {
  &-form {
    &-title {
      color: var(--aj-heading-color);
      @include aj-font-member(30px);
    }
  }
  &-img {
    & img {
      max-width: inherit;
      margin-left: -50px;
      @media #{$lg,$md,$xs} {
        max-width: 100%;
        margin: 0;
      }
    }
  }
  &-form {
    &-box {
      & input,
      & textarea {
        border: 1px solid var(--aj-body-color);
        border-radius: 10px;
        padding: 0 25px;
      }
      & textarea {
        height: 160px;
        padding: 25px;
      }
      & .p-relative {
        & i {
          position: absolute;
          right: 25px;
          top: 18px;
        }
      }
    }
  }
}
.pl-50 {
  @media #{$xs} {
    padding: 20px;
  }
}
