@use '../../utils' as *;

.aj-faq {
  &-img {
    position: absolute;
    height: 100%;
    width: calc(50% - 65px);
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0 20px 20px 0;
    @media #{$md,$sm,$xs} {
      position: static;
      height: 500px;
      width: 100%;
      border-radius: 0;
    }
    @media #{$xs} {
      height: 300px;
    }
  }
}
