@use '../../utils' as *;

.aj-portfolio {
  border: 4px solid tomato;
  background-color: tomato;

  &-items {
    margin-bottom: 23px;
    transition: 0.3s;
    &__thumb {
      & img {
        width: 100%;
        border-radius: 20px;
      }
    }
    &__text {
      position: absolute;
      left: 100px;
      bottom: 50px;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s;
      & span {
        text-transform: uppercase;
        display: inline-block;
        background-color: var(--aj-white);
        @include aj-font-member(15px);
        font-family: var(--aj-font-body);
        font-weight: 500;
        color: var(--aj-heading-color);
        padding: 10px 22px;
      }

      &__title {
        background-color: var(--aj-white);
        @include aj-font-member(30px);
        color: var(--aj-heading-color);
        padding: 10px 22px;
      }
    }
    &:hover {
      .aj-portfolio-items__text {
        opacity: 1;
        visibility: visible;
        bottom: 80px;
      }
    }
  }
}
