@use '../../utils' as *;

.aj-project {
  &-item {
    padding: 20px;
    border-radius: 20px;
    background-color: #ffe9c9;
  }
  &-desc {
    color: #a3aec3;
    & b {
      color: #fff;
    }
  }
  &-thumb {
    & img {
      border-radius: 20px;
    }
  }
  &-content {
    &__text {
      & span {
        @include aj-font-member(15px);
        font-family: 'DM Sans';
        font-weight: 500;
        text-transform: uppercase;
        color: var(--aj-body-color);
      }
    }
    &__title {
      @include aj-font-member(30px);
      text-transform: capitalize;
      color: var(aj-heading-color);
    }
    &__link {
      & a {
        & i {
          width: 50px;
          height: 50px;
          border: 1px solid var(--aj-body-color);
          border-radius: 50%;
          text-align: center;
          line-height: 50px;
          transition: 0.5s;
          &:hover {
            border: transparent;
            transform: rotate(-45deg);
            background: var(--aj-theme-orange);
            color: #fff;
          }
        }
      }
    }
  }
  &-no {
    & span {
      color: #a3aec3;
      font-size: 30px;
      position: relative;
      &::before {
        position: absolute;
        content: '';
        width: 60px;
        height: 1px;
        background: #a3aec3;
        left: -68px;
        top: 50%;
        @media #{$md} {
          width: 15px;
          left: -20px;
        }
        @media #{$xs} {
          width: 7px;
          left: -9px;
        }
      }
    }
  }
  &-ct {
    & span {
      color: #0a0e1a;
      padding: 4px 16px;
      background: #ffe9c9;
      border-radius: 30px;
      font-size: 15px;
      font-weight: 500;
      text-transform: uppercase;
    }
    &-2 {
      & span {
        background-color: #d6f0ff;
      }
    }
    &-3 {
      & span {
        background-color: #ffe4fb;
      }
    }
  }
  &-text {
    @include aj-font-member(40px);
    text-transform: uppercase;
    color: #ffffff;
    &-2 {
      color: var(--aj-heading-color);
    }
  }
  &-btn {
    & a {
      @include aj-font-member(18px);
      color: #a3aec3;
      transition: 0.3s;
      & i {
        margin-left: 5px;
        transform: rotate(-45deg);
      }
      &:hover {
        color: #fff;
      }
    }
    & span {
      background-color: #dbdbdb;
      height: 12px;
      width: 12px;
      border-radius: 100%;
    }
    &-2 {
      & a {
        color: #0a0e1a;
        &:hover {
          color: var(--aj-theme-orange);
        }
      }
    }
  }
  &-logo {
    min-height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: 1px solid #57595c;
  }
  &-border {
    border: 1px solid #57595c;
    padding: 30px;
    margin-left: -1px;
    margin-bottom: -1px;
  }
}

@media #{$xs,$sm,$md} {
  .rs {
    flex-flow: column-reverse;
  }
}
// margin x
.mx100 {
  margin: 0 -100px;
  @media #{$xs} {
    margin: 0;
  }
}
// slider button
.probtn {
  font-size: 52px;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    color: #fc0061;
  }
}
.aj-swiper-project {
  &-prev {
    transform: rotate(180deg);
  }
}
