@use '../../utils' as *;

.aj-services {
  border: 1px solid #57595c;
  margin-right: -1px;
  border-radius: 20px;
  padding: 40px;
  transition: 0.3s;

  &-2 {
    padding-bottom: 5px;
  }
  &-3 {
    border: none;
    background-color: #fff;
  }
  &__title {
    @include aj-font-member(30px);
    color: var(--aj-heading-color);

    @media #{$xxl,$xl} {
      font-size: 29px;
    }
  }
  &__list {
    & ul {
      list-style: none;
      & li {
        margin-bottom: 10px;
        position: relative;
        &::before {
          background-color: #57595c;
          content: '';
          height: 8px;
          width: 8px;
          display: inline-block;
          border-radius: 30px;
          margin-right: 10px;
          transform: translateY(-1px);
        }
      }
    }
  }
  &:hover {
    background-color: var(--aj-cream);
    & .aj-svr-btn {
      background-color: var(--aj-theme-color);
      color: #fff;
    }
  }
  &-images {
    & img {
      border-radius: 15px;
    }
  }
  &-box {
    &__right {
      position: absolute;
      top: 0;
      right: 0;
      background: #fff;
    }
  }
  &-area {
    &-2 {
      border-radius: 100px;
    }
  }
}

.aj-svr-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--aj-cream);
  padding: 6px 30px;
  border-radius: 5px;
  font-family: 'Federo';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: var(--aj-black-common);
  transition: 0.3s;
  & i {
    transform: rotate(-45deg);
  }
}

.aj-arrow-btn {
  font-size: 45px;
  color: var(--aj-body-color);
  transition: 0.3s;
  &:hover {
    color: var(--aj-theme-orange);
  }
}

/* ======================
   Services tab
   ====================== */

.aj-sv-tab {
  display: flex;
  border-bottom: 1px solid #57595c;
  padding: 24px 0;
  &__no {
    @include aj-font-member(15px);
    font-family: 'DM Sans';
    color: #b1b4ba;
    margin-right: 10px;
    margin-top: 12px;
  }
  &__content {
    &-title {
      @include aj-font-member(100px);
      text-transform: uppercase;
      color: #ffffff;
      margin: 0;
    }
    & p {
      margin: 0;
    }
  }
}

.nav-links:first-child {
  & .aj-sv-tab {
    border-top: 1px solid #57595c;
  }
}
.active {
  & .aj-sv-tab__content-title {
    color: var(--aj-theme-orange);
  }
}
