@use '../../utils' as *;

.aj-testimonials {
  &-area {
    &-2 {
      border-radius: 100px;
    }
  }
  &-desc {
    @include aj-font-member(100px);
    color: var(--aj-heading-color);
    @media #{$lg} {
      font-size: 75px;
    }
    @media #{$md} {
      font-size: 55px;
    }
    @media #{$xs} {
      font-size: 35px;
    }
  }
  &-name {
    font-size: 30px;
    margin-bottom: 5px;
    @media #{$xs} {
      font-size: 25px;
      margin-bottom: 3px;
    }
  }
  &-desig {
    font-size: 17px;
    color: #57595c;
    margin-left: 70px;
    & span {
      width: 60px;
      height: 1px;
      background-color: #57595c;
      display: inline-block;
      transform: translateY(-5px);
      margin-right: 5px;
    }
  }
  &-shape {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: -1;
    @media #{$md,$xs} {
      top: 0;
    }
  }
  &-thumb {
    &-1 {
      left: 0;
      bottom: 125px;
    }
    &-2 {
      top: 30px;
      right: 0;
    }
    &-h2 {
      &-1 {
        right: -80px;
      }
      &-2 {
        right: 180px;
        bottom: 20px;
      }
    }
  }
  &-h2 {
    &-item {
      & .xtra-qts {
        display: inline-block;
        transform: scaleX(-1);
        margin-right: 10px;
      }
      & i {
        font-size: 45px;
        color: var(--aj-theme-color-2);
      }
    }
    &-desc {
      @include aj-font-member(60px);
      text-transform: uppercase;
      text-align: left;
      color: #ffffff;
    }
    &-info {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-left: 50px;
    }
    &__thumb {
      & img {
        border-radius: 15px;
      }
    }
    &-x {
      text-align: left;
    }
    &-name {
      @include aj-font-member(30px);
      text-align: center;
      color: #ffffff;
    }
    &-desig {
      @include aj-font-member(17px);
      font-family: 'DM Sans';
      color: #ffffff;
      opacity: 0.8;
    }
  }
  &-h3 {
    &-item {
      float: left;
    }
    &-qoute {
      float: left;
      margin-right: 25px;
    }
    &-desc {
      @include aj-font-member(40px);
      text-transform: uppercase;
      text-align: left;
      color: #0a0e1a;
    }
    &-info {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-left: 0;
    }

    &-x {
      text-align: left;
    }
    &-name {
      @include aj-font-member(30px);
      text-align: center;
      &__2 {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 25%;
          width: 100px;
          height: 1px;
          background-color: #57595c;
        }
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 25%;
          width: 100px;
          height: 1px;
          background-color: #57595c;
        }
      }
    }
    &-desig {
      @include aj-font-member(15px);
      font-family: 'DM Sans';
    }
  }
  &-btn {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 12px;
    left: 40%;
    z-index: 9;
    & i {
      font-size: 50px;
      color: #fff;
    }
    &__prev {
      transform: scaleX(-1);
    }
    & span {
      background-color: #fff;
      height: 12px;
      width: 12px;
      border-radius: 100%;
      margin-bottom: 10px;
    }
    &-2 {
      & i {
        color: var(--aj-body-color);
        transition: 0.3s;
        &:hover {
          color: var(--aj-theme-orange);
        }
      }
      &__prev {
        transform: scaleX(-1);
      }
      & span {
        background-color: #dbdbdb;
      }
    }
  }
}

.aj-swiper-button-next {
  position: absolute;
  right: -100px;
  top: 32%;
  @media #{$xxl,$xl,$lg,$md,$sm} {
    right: 0;
    bottom: 0;
    top: inherit;
    z-index: 9;
  }
  @media #{$xs} {
    top: inherit;
    right: 30px;
    bottom: -45px;
  }
}
.aj-swiper-button-prev {
  position: absolute;
  left: -100px;
  top: 32%;
  @media #{$xxl,$xl,$lg,$md,$sm} {
    left: 0;
    bottom: 0;
    top: inherit;
    z-index: 9;
  }
  @media #{$xs} {
    top: inherit;
    left: 30px;
    bottom: -45px;
  }
}

// thumb click slider

.aj-testimonial-thumb-active {
  & .swiper-slide {
    & img {
      transform: scale(0.8);
    }
    &.swiper-slide-thumb-active {
      & img {
        transform: scale(1);
      }
    }
  }
}
