@use '../../utils' as *;

.aj-video-area {
  padding: 300px 30px;

  @media #{$xl, $lg, $md, $xs} {
    padding: 200px 30px;
  }

  @media #{$xs} {
    padding: 100px 30px;
  }
}

.aj-video-btn {
  text-align: center;
  & img {
    @media #{$xs} {
      width: 50%;
    }
  }
}
