@use '../../utils' as *;

.aj-blog-sidebar {
  &__widget {
    background: #fbf6ef;
    padding: 40px;
    border-radius: 10px;
    &-title {
      @include aj-font-member(24px);
      margin-bottom: 20px;
      & span {
        width: 10px;
        height: 10px;
        background: var(--aj-theme-color);
        border-radius: 50%;
        display: inline-block;
        margin-right: 5px;
      }
    }
    &-form {
      position: relative;
      & input {
        border: 1px solid #57595c;
        padding-left: 20px;
        padding-right: 40px;
        border-radius: 5px;
      }
      & button {
        & i {
          position: absolute;
          top: 25%;
          right: 9%;
          transform: rotate(-45deg);
        }
      }
    }
    &-ct {
      & ul {
        & li {
          margin: 15px 0;
          & a {
            color: #57595c;
            display: block;
            padding: 20px 25px;
            line-height: 1;
            position: relative;
            background-color: #fff;
            border: 1px solid #57595c;
            border-radius: 5px;
            transition: 0.5s;
            &::after {
              content: '\f061';
              font-family: 'Font Awesome 5 Pro';
              position: absolute;
              right: 25px;
              top: 50%;
              transform: translateY(-50%) rotate(-40deg);
            }
            &:hover {
              color: #ffffff;
              background-color: var(--aj-theme-color);
              border-color: var(--aj-theme-color);
            }
          }
        }
      }
    }
  }
  &__post {
    &-item {
      border-bottom: 1px solid #57595c;
      margin-bottom: 20px;
      padding-bottom: 15px;
    }
    &-thumb {
      & img {
        border-radius: 5px;
      }
    }
    &-content {
      & span {
        & i {
          margin-right: 2px;
          font-size: 20px;
        }
      }
    }
    &-desc {
      @include aj-font-member(20px);
      font-weight: bold;
      transition: 0.3s;
      &:hover {
        color: var(--aj-theme-color);
      }
    }
  }
  &__tag {
    & a {
      font-size: 15px;
      font-weight: 500;
      border: 1px solid #57595c;
      color: #57595c;
      padding: 17px 17px;
      display: inline-block;
      line-height: 1;
      border-radius: 5px;
      margin-right: 5px;
      margin-bottom: 8px;
      text-transform: uppercase;
      &:hover {
        color: #ffffff;
        background-color: var(--aj-theme-color);
        border-color: var(--aj-theme-color);
      }
    }
  }
}
